/*Estilos del proyecto*/
* {
  margin: 0;
  padding:0; 
  box-sizing: border-box;
}
/* encabezado */

header {
    background-color: #00ccff;
    height:10vh;  
    width: 100%;
    padding: 1vh;
    margin-bottom: 1vh;
}
h1{
   color: #ffffff;
   text-align: center;
}
/*estilos del cuerpo o contenido */
body{
   background-image: url("../assets/images/taipei.jpg");
   background-size:cover;
   width: 100%;
}
section{
    position: relative;
}
/*Caja de Texto*/
#fixed-box{
    background-color: #ffffff;
    line-height: 1.6;
    position: absolute;    
    left: 20vh;
    top: 1vh;
    padding: 30px 20px 10px;
    height: 30vh;
    width: 80vh;
}
hr{
    margin: 18px 0px;
}
/*Caja de Texto movil*/
#mobile-box{
    background-color: #ffffff;       
    width: 80vh;    
    position: absolute;
    top:1vh;
    right: 20vh;
}
.big-box{
    height: 130px;
}
.normal-box{
    border-right: none;
    resize: none;
    display: inline-block;
    padding: 5px;
    width: 80vh;
    overflow: hidden;    
}

.tweet{
    background-color: #6ad2f3;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px 17px;
    margin: 10px 5px;
} 
.buttonDisable {
    background-color: rgba(128, 128, 128, 0.096);
    border: none;
    border-radius: 4px;
    color: rgb(92, 91, 91);
    padding: 10px 17px;
    margin: 10px 5px;
}
/*Añadiendo estilo del nuevo div*/
.styleDiv {
    background:#ffffff;
    border-radius: 5px;
    display: inline-block; 
    position: relative;
    left: 132px;
    top: 250px;
    width: 80.6%;
    margin-bottom: 10px;
    padding: 12px 7px;
    height: auto;
}
.save {
    display: inline-block;
    width: 80.6%;
    height:auto; 
       
}
/*Colores del contador*/
.styleCount {
    color:rgb(228, 58, 228);
}
.styleCount2 {
    color:rgb(13, 158, 216);
}
.styleCount3{
    color: black;
}